.header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #c6c6c6;
    -webkit-box-shadow: 8px 8px 8px rgb(98, 98, 98);
    -moz-box-shadow:    8px 8px 8px rgb(143, 143, 143);
    box-shadow:         8px 8px 8px rgb(213, 213, 213);
    z-index:999;
}