@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    color: white;
    justify-content: space-between;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
    /* padding: 1rem 2rem; */
    /* background: rgb(255,0,0);
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,33,0,1) 0%, rgba(0,0,0,1) 98%); */
    border-bottom: 2px solid #c6c6c6;
    
}

.navbar {
    /* max-height: 60px; */
    background: rgb(204,178,70);
    background: radial-gradient(circle, rgba(204,178,70,1) 0%, rgba(255,227,107,1) 0%, rgba(255,175,125,1) 100%);
    color: white;
}

.linkcontainer{ 
    color: rgba(58, 21, 21, 0.944);
    
};

